body {
    /* Defina aqui o gradiente desejado */
    /* background: linear-gradient(to bottom right, #ff7e5f, #feb47b); */
    background: linear-gradient(#469cfc, #3f5efb, #469cfc);
    /* Outras propriedades de estilo, se necessário */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Defina outras propriedades globais, se necessário */
}